#map {
    height: 93vh;
}

#showDetail{
    position:absolute;
    top: 18%;
    right: 1%;
    z-index: 99999;
    border-radius: 15px;
    background-color: #EFEFEF;
    padding: 12px;
    border: 3px solid #000;
}

#detail{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000;
    position: absolute;
    background: #EFEFEF;
    margin: 0;
    padding: 0;
}

.story{
    padding: 12px;
    height: 99%;
}

.story>.title{
    font-size: 2em;
    margin: auto;
}

.chapter{

}

.mission{

}

.checkpoint{

}

.hint{

}

.title{
    font-size: 1.5em;
}

.overlay-closed {
    display: none;
    bottom: 0.1px;
    height : 0;
    width : 100%;
    opacity:0;
}

.overlay-open{
    display: block;
    bottom: 0.1px;
    width:100%;
    height:91%;
    opacity:0.9;
}

.hidden{
    display: none;
}