body{
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

#header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 9%;
    font-size: 1.2em;
    overflow: hidden;
    font-weight: bold;
    background-color: #53A548;
}

#header-menu li {
    float: left;
}

#header-menu li a {
    display: block;
    color: #594E36;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header-menu li a:hover {
    background-color: #594E36;
    color: #53A548;
}

#header-menu .active {
    background-color: #594E36;
    color: #53A548;
}

#header-menu .active:hover {
    color: #594E36;
    background-color: #53A548;;
}

#body-container{
    height: 90%;
}

form{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}