body{
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

#header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 7%;
    overflow: hidden;
    background-color: #333;
}

#header-menu li {
    float: left;
}

#header-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header-menu li a:hover {
    background-color: #111;
}

#header-menu .active {
    background-color: #4CAF50;
}

#body-container{
    padding: 1%
}

form{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

.story{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

form .chapter{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

form .mission{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

form .checkpoint{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

form .hint{
    background-color: #efefef;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 3em 0;
    margin: 1em;
}

form div{
    padding: 0 1%;
}

form label{
    display: none;
}

form input{
    width: 49%;
    font-size: 1.2em;
    color: black;
}

form textarea{
    width: 49%;
    font-size: 1.2em;
    color: black;
    padding: 12px;
    resize: none;
}

form select{
    width: 49%;
    font-size: 1.2em;
    color: black;
}

form a{
    background-color: darkorange;
    padding: 12px;
    margin-top: -6px;
    margin-left: -6px;
    border-radius: 15px;
    text-decoration: none;
    color: #005A31;
    float:right;
}

form a:hover{
    background-color: darkorange;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    color: #005A31;
}

form a.delete{
    background-color: red;
    float: right
}

form ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form li{
    text-decoration: none;
    list-style-type: none;
}

form h2{
    color: #005A31;
}