{% extends 'base.html.twig' %}

{% block title %}Quarry!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/storyform.css') }}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Save">
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <script>

        jQuery(document).ready(function(){
            $('form').find('label:first').after('</br>').html('<h1>Story</h1>').show();
            configureForm();
            addFormButton(0, 0, 0, 0);
            deleteFormButton();
        });

        function deleteFormButton() {
            $collectionHolder = $('ul.tags');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });
        }

        function configureForm(){
            $( "input[type='number']" ).attr('min', '1').attr('max', '99');

            //add Titles to subForms;
            $('.chapter li').find("label:first").html('<h2 class="formTitle">Chapter</h2>').show();
            $('.mission li').find("label:first").html('<h2 class="formTitle">Mission</h2>').show();
            $('.checkpoint li').find("label:first").html('<h2 class="formTitle">Checkpoint</h2>').show();
            $('.hint li').find("label:first").html('<h2 class="formTitle">Hint</h2>').show();

            $('.formTitle').on('click', function(e){
                $(this).parent().siblings().toggle();
            });

            $(".content").css('float','right');
            $('input[type="submit"]').css('width', '100%');
            $('input[type="submit"]').css('padding', '12px');

            var inputColor = $('input[data-type="color"]');
            inputColor.attr('type', 'color');

            inputColor.on("change", function(){
                    $(this).parent().parent().parent().css('background-color', $(this).val());
            });

            var inputTextColor = $('input[data-type="textcolor"]');
            inputTextColor.attr('type', 'color');

            inputTextColor.on("change", function(){
                $(this).parent().parent().parent().css('color', $(this).val());
            });
        }

        function addFormButton($type, $chapterIndex, $missionIndex, $checkpointIndex) {
            var $addLink;
            var $collectionHolder;

            switch ($type){
                case 0:
                    $addLink = $('<a href="#" class="add_chapter_link">Add a Chapter to Story</a>');
                    $collectionHolder = $('div#story_chapters');
                    break;
                case 1:
                   $addLink = $('<a href="#" class="add_mission_link" data-chapter='+ $chapterIndex +'>Add a Mission to Chapter</a>');
                    $collectionHolder = $('div#story_chapters_' + $chapterIndex + '_missions');
                    break;
                case 2:
                   $addLink = $('<a href="#" class="add_checkpoint_link" data-chapter='+ $chapterIndex +' data-mission='+ $missionIndex +'>Add a Checkpoint to Mission</a>');
                    $collectionHolder = $('div#story_chapters_' + $chapterIndex + '_missions_' + $missionIndex + '_checkpoints');
                    break;
                case 3:
                    $addLink = $('<a href="#" class="add_hint_link" data-chapter='+ $chapterIndex +' data-mission='+ $missionIndex +' data-checkpoint='+ $checkpointIndex +'>Add a Hint to Checkpoint</a>');
                    $collectionHolder = $('div#story_chapters_' + $chapterIndex + '_missions_' + $missionIndex + '_checkpoints_' + $checkpointIndex + '_hints');
                    break;
            }
            var $newLinkLi = $('<li></li>').append($addLink);

            $collectionHolder.append($newLinkLi);
            $collectionHolder.data("index", $collectionHolder.find("input").length);

            $addLink.on('click', function (e) {
                e.preventDefault();

                var $chapterLength = 0;
                var $missionLength = 0;
                var $checkpointLength = 0;
                var $hintLength = 0;

                switch ($type){
                    case 0:
                        $chapterLength = $collectionHolder.data('index');
                        break;
                    case 1:
                        $chapterLength = $(this).data('chapter');
                        $missionLength = $collectionHolder.data('index');
                        break;
                    case 2:
                        $chapterLength = $(this).data('chapter');
                        $missionLength = $(this).data('mission');
                        $checkpointLength = $collectionHolder.data('index');
                        break;
                    case 3:
                        $chapterLength = $(this).data('chapter');
                        $missionLength = $(this).data('mission');
                        $checkpointLength = $(this).data('checkpoint');
                        $hintLength = $collectionHolder.data('index');
                        break;
                }

                addForm($collectionHolder, $newLinkLi, $chapterLength, $missionLength, $checkpointLength, $hintLength);
                addFormButton($type+1, $chapterLength, $missionLength, $checkpointLength);
            });
        }

        function addForm($collectionHolder, $newLinkLi, $chapterLength, $missionLength, $checkpointLength, $hintLength){
            var $prototype = $collectionHolder.data('prototype');
            var $index = $collectionHolder.data('index');

            var chapterStr = "chapters_"+ $chapterLength;
            var missionStr = "missions_"+ $missionLength;
            var checkpointStr = "checkpoints_"+ $checkpointLength;
            var hintStr = "hints_" + $hintLength;

            console.log("chapter - "+ chapterStr+ "; mission - "+ missionStr+ "; checkpoint - "+ checkpointStr);

            //WORKS BUT IS STRANGE
             var $newForm = $prototype.replace(/chapters___name__/g, chapterStr);
             $newForm = $newForm.replace(/missions___name__/g, missionStr);
             $newForm = $newForm.replace(/missions_0/g, missionStr);
             $newForm = $newForm.replace(/checkpoints___name__/g, checkpointStr);
             $newForm = $newForm.replace(/checkpoints_0/g, checkpointStr);
            $newForm = $newForm.replace(/hints___name__/g, hintStr);
            $newForm = $newForm.replace(/hints_0/g, hintStr);

            console.log($newForm);

            $newForm = $newForm.replace(/__name__/g, 0);
            $newForm = $newForm.replace(/\[chapters\]\[0\]/g, '[chapters]['+ $chapterLength +']');
            $newForm = $newForm.replace(/\[missions\]\[0\]/g, '[missions]['+ $missionLength +']');
            $newForm = $newForm.replace(/\[checkpoints\]\[0\]/g, '[checkpoints]['+ $checkpointLength +']');
            $newForm = $newForm.replace(/\[hints\]\[0\]/g, '[hints]['+ $hintLength +']');

            $collectionHolder.data('index', $index+1);

            var $newFormLi = $('<li></li>').append($newForm);
            $newLinkLi.before($newFormLi)
            $newFormLi.show('slow');

            addFormDeleteLink($newFormLi);
            configureForm();
        }

        function addFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a class="delete" href="#">delete</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}